<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>カード例</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">カード例</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="ion-padding">
    <div class="card-section-label">
      <span>CARDS</span>
    </div>
    <ion-card>
      <ion-card-header>
        <ion-card-title>カード (Cards)</ion-card-title>
        <!-- <ion-card-subtitle>サンプルカード</ion-card-subtitle> -->
      </ion-card-header>
      <ion-card-content class="card-toggle">
        <span>これはIonicのカードコンポーネントです。カードは情報をグループ化して表示するのに便利です。</span>
        <ion-toggle></ion-toggle>
      </ion-card-content>
    </ion-card>
    <!-- Simple Text and Toggle Card -->
    <div class="card-section-label">
      <ion-icon name="options-outline"></ion-icon>
      <span>SIMPLE TOGGLE CARD</span>
    </div>
    <ion-card>
      <ion-card-subtitle class="card-toggle">
        ダークモード
        <ion-toggle></ion-toggle>
      </ion-card-subtitle>
    </ion-card>
  </div>
</ion-content>
