#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;
  color: #8c8c8c;
  margin: 0;
}

#container a {
  text-decoration: none;
}

ion-chip {
  position: relative;
}

ion-chip.chip-success-light {
  background: rgba(200, 227, 250, 0.951);
  border: 0.3px solid rgba(56, 128, 255, 0.9) !important;
}

.custom-chip {
  --background: #fff7f0;
  /* オレンジがかった白、非透明 */
  --color: #000;
  /* テキスト黒 */
  border: 1px solid #ff8800;
  /* 細いオレンジライン */
  border-radius: 16px;
}

.chip-row {
  display: flex;
  gap: 8px;
  padding: 8px 12px;
  /* ヘッダー下に設置する時の余白 */
}